body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration:none;
 }

* {
    box-sizing: border-box;
}

header {
    background-color: black;
    border: 20px solid #2c3e50;
    font-family: 'Sriracha', cursive;
}

header h1{
    margin:0px;
    color: #f7f7f7;
}

.title-top h1{
    text-align: center;
    animation-name: title-top;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title-top{
    0%{
     color: #ff6161;
     text-shadow: 2px 2px 20px #ff0000;
    }
    80%{
     color: #ff6161;
     text-shadow: 2px 2px 20px #ff0000;
    }
    81%{
     color: #f7f7f7;
     text-shadow: none;
    }
 }

.title-middle {
    text-align: center;
    animation-name: title-middle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title-middle{
    0%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    20%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    21%{
        color: #4763ff;
        text-shadow: 2px 2px 20px #0000ff;
    }

    80%{
        color: #4763ff;
        text-shadow: 2px 2px 20px #0000ff;
    }
    81%{
     color: #f7f7f7;
     text-shadow: none;
    }
 }

.title-bottom {
    text-align: center;
    animation-name: title-bottom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title-bottom{
    0%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    40%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    41%{
        color: #5eff7e;
        text-shadow: 2px 2px 20px #00ff00;
    }

    80%{
        color: #5eff7e;
        text-shadow: 2px 2px 20px #00ff00;
    }
    81%{
        color: #f7f7f7;
        text-shadow: none;
    }
 }

main {
  background-image: url(white-painted-wall-1939485.jpg);
  background-size: cover;
  margin-bottom: 5px;
}

h1,h3 {
  font-size: 20px;
  color:#2c3e50;
  padding: 15px;
  margin: 0px;
}

.introduce-wrapper .container {
  display: flex;
  padding: 15px 15px;
  margin: 0 auto;
}

.container figure {
  flex-basis: 20%;
}

.container .message-wrapper{
  flex-basis: 80%;
  margin-left:20px;
}

.img-1 {
  display: block;
  height:100px;
  width:200px;
  border-radius: 10px;
  margin: 0px auto;
}

.message-wrapper p{
  text-align:justify;
}

.message-wrapper .container {
  display: block;
  padding: 15px 15px;
  margin: 0 auto;
}

.message-wrapper h2 {
  font-weight: bold;
  font-size: 15px;
}

figure{
  margin:0px;
}

.btn {
  max-width: 60%;
  padding:5px 20px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  cursor:default;
  box-shadow:0 3px black;
  transition: opacity 1s;
  margin-right: 10px;
  margin-bottom: 10px;
}

.right{
  margin-left: 5%;
}

.btn:hover {
  opacity: 1;
  
}

.btn:active{
  position: relative;
  top:3px;
  box-shadow: unset;
}

.instagram {
  background-color: #8e44ad;
}

.instagram-1 {
  background-color: #8e44ad;

  margin-right: 10px;
}

.twitter {
  background-color:#55acee;
}

.inbox {
  background-color: #d63031;
}

.message-wrapper h4{
  font-weight: bold;
  font-size: 15px;
}

.btn-wrapper{
  display: flex;
  flex-wrap: wrap;
}


footer{
  background-color: black;
  background-size: cover;
  border-top: 10px solid #2c3e50;
  margin:0;
}

.footer-right {
  float:right;
  margin-right: 10px;
  margin-bottom: 20px;
}

.footer-left {
  float:left;
  margin-left: 10px;
}

h5,h6 {
  font-size: 20px;
  color:white;
  margin-top: 0px;
}

.clear-float{
clear: both;
}

h6{
  text-align: center;
  margin:20px;
}

.footer-left h5 {
  border-bottom: 2px solid blue;
}

.message-wrapper a{
  text-align: center;
}